body {
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
}

.img-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.img-container > * {
    position: absolute;
}

.img-container > img {
    object-fit: cover;
    height: 100%;
    width: 33.33vw;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    margin: auto;
}

.pic-credits {
    margin-top: auto;
}

.logo > img {
    height: 12vh;
}

.content {
    flex: 2;
}